.s__link{
    color: #ffffff;
}
.s__encabezado__2{
    background-color: #744c2bb7;
}
.s__encabezado{
    background-image: url("../assets/img-h1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.encabezado__img{
    width: 100px; 
}
